@use '../../styles/constans.scss';

.input {
  font-weight: constans.$default-font-weight-lighter;
  background: #f6f6f6;
  border-radius: 39px;
  border: none;
  padding: calc(constans.$default-font-size-half / 2);
}
